// color, border
@import "_variables.scss";

// html, body, header
@import "header";

// contact block
@import "contact";

// main page
@import "main";

// create category
@import "category_create";

// auth
@import "auth";

//footer
@import "footer";

// media
@import "media";

// errors
@import "errors";
