.category__create {
    h1 {
        color: red;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 1.5rem;
    }
    label {

    }

    .form-control {
        border: $border_line;
        border-radius: 5px;
        width: 300px;
        height: 30px;
        padding: 5px;
    }

    .input-file{
        border: $border_line;
        border-radius: 5px;
        width: 300px;
        height: 30px;
        padding: 5px;
    }

    .btn {
        margin-top: 1.5rem;
        border: $border_line;
        border-radius: 5px;
        width: 300px;
        height: 30px;
    }
}
