.contact {
    border-bottom: $border_line;
    margin-top: 80px;
    padding: 0;
}

.contact__body {
    display: flex;
    justify-content: space-between;

    height: 60px;

    .contact__left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .mail {
            &:before {
                content: "\2706 ";
            }

            display: inherit;
            align-items: center;
            border-right: $border_line;
            padding-right: 20px;
        }

        .phone {
            &:before {
                content: '\2706 ';
            }

            display: inherit;
            align-items: center;
            border-right: $border_line;
            padding: 0 50px;
        }

    }
    .login__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .login {
            display: inherit;
            align-items: center;
            border-left: $border_line;
            padding: 0 20px;
            &:before {
                content: "\272A";
            }
        }
    }
}

@media (max-width: 767px) {
    .contact {
        margin-top: 50px;

    }
    .contact__body {
        .contact__left {

            .login {
                border-right: none;
            }

            .mail {
                border-right: none;
            }

            .phone {
                border-right: none;
            }
        }
    }
}
