/*Обнуление*/ *,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Основные стили */

.container {
    max-width: 1200px; // Контейнер ограничен по ширине
    min-width: 320px; // Контейнер ограничен по ширине
    margin: 0 auto;
    padding: 0 10px;
    background-color: grey;
}

.header-top {
    position: fixed; // при скроле шапка всега сверху
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; // Большой z-index чтобы накрыть весь контент
}

.header-top:before { // - создает псевдоэлемент, который являеться первым потомком выбраного ел. (Исп. для добавления косметического содержимого в элемент с помощью content
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: $border_line;
    border-bottom: $border_line;
    z-index: 2;
}

.header__body {
    position: relative; // вытащить на верх контентную часть шапки
    display: flex;
    justify-content: space-between; // раскидать flex-елементы по сторонам
    height: 80px; // ограничить по высоте
    align-items: center; // выставить по центру
}

.header__logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header__contact {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
    display: none;
}

.header__logo img {
    max-width: 100%;
    display: block; // Убрать обрезание картинки
}

.header__burger{
    display: none;
}

.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    &:hover {
        text-shadow: 0 1px rgba(0,0,0,0.25);
    }
}
