$border_red_line: 1px solid grey;
.main {
    width: 100%;
    margin-top: 20px;
}

.main__content {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    .card {
        .link {
            text-decoration: none;
        }
        overflow: hidden;
        padding: 5px;
        position: relative;
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: $border_line;

        .title {

            top: 0;
            text-align: center;
            font-size: 1.2em;
            color: $grey;
        }

        .picture {
            position: relative;

            width: 100%;
            height: auto;
            opacity: 0.9;

            z-index: 2;
            &:hover {
                opacity: 1;
            }
        }

        .vendor {
            color: #a5c9d9;
            text-align: center;

        }
        .form_action {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .form {
                width: 45%;
                .btn {
                    border: $border_line;
                    border-radius: 5px;
                    padding: 5px;
                    width: 100%;
                    &:hover {
                        box-shadow: inset 1px 0px 1px 1px rgba(18,53,72,0.5), inset -1px -1px 1px 1px rgba(18,53,72,0.5);
                    }
                }
                .btn-edit {

                }
                .btn-delete {

                }
            }
        }

    }
}

