$border_red_line: 1px solid grey;
.main {
    width: 100%;
    margin-top: 10px;
}
.navigate {
    margin: 0 10px;
    color: $grey;
    .link {
        font-size: small;
        color: $grey;
        text-decoration: none;
        &:hover {
            color: black;
        }
        &:active {
            color: $purple;
        }
    }
    .line {
        border: none;
        height: 1px;
        margin-bottom: 5px;
        background-color: #C0C0C0;

    }
}

.main__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .card.disabled
    {
        background-color: rgba(205, 205, 205, 0.62);
    }
    .card {
        .link.disabled
        {
            pointer-events: none; /* делаем ссылку некликабельной */
            cursor: default;  /* устанавливаем курсор в виде стрелки */

            .picture
            {
                opacity: 0.5;
            }
        }

        &:hover {

            background-color: rgba(225, 224, 255, 0.5);


        }
        .link {
            text-decoration: none;
        }
        overflow: hidden;
        padding: 5px;
        position: relative;
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: $border_line;

        .title {

            top: 0;
            text-align: center;
            font-size: 1.2em;
            color: $grey;
        }

        .picture {
            position: relative;

            width: 100%;
            height: auto;
            opacity: 0.9;

            z-index: 2;
            &:hover {
                opacity: 1;
            }
        }

        .vendor {
            color: #a5c9d9;
            text-align: center;

        }
        .form_action {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .form {
                width: 45%;
                .btn {
                    border: $border_line;
                    border-radius: 5px;
                    padding: 5px;
                    width: 100%;
                    &:hover {
                        box-shadow: inset 1px 0px 1px 1px rgba(18,53,72,0.5), inset -1px -1px 1px 1px rgba(18,53,72,0.5);
                    }
                }
                .btn-edit {

                }
                .btn-delete {

                }
            }
        }

    }

}

.main__products {
    padding: 10px;


    .title__block
    {
        border: 1px solid grey;
        margin-bottom: 30px;
        h3 {
            color: #990200;
        }
        h4 {
            color: #626108;
        }
    }

    .image__block {
        display: inline-block;
        font-family: "Poplar Kozel", serif;
        font-size: 10em;
        height: 1em;
        width: 2em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;

        border: 1px solid red;

        .image__vendor {
            width: 2em;
            height: 0.5em;
            background: linear-gradient(to left, #ffffff, #6794c3);
            padding-left: 0.05em;
            overflow: visible;
            .h3 {
                font-size: 0.5em;
                color: white;
                overflow: visible;
            }
            .image {
                border: 1px solid green;
                width: 1em;
                // margin-left: 1em;
                margin-top: -1em;
            }
        }
    }

    .chart__block {
        display: none;
        border: 1px solid green;
        border-radius: 5px;
        height: 200px;
        margin-left: auto;
        margin-right: 0em;

        .picture_drawing {
            width: 100px;
            height: 100px;
            .drawing {
                width: 200px;
            }
        }
    }


    .table {
        width: 100%;
        table-layout: fixed;
        font-size: 1.2em;
        th {
            font-weight: normal;
            color: #039;
            padding: 5px 7px;
        }
        td {
            color: #669;
            border-top: 1px solid #e8edff;
            padding: 5px 7px;
            position: relative;
            text-align: center;
        }
        tr:nth-child(2n) {background: #e8edff;}

        tr:hover{
            background-color: #bdccff;
        }
        td a {
            position: absolute; /* Абсолютное позиционирование */
            left: 0; right: 0; /* По ширине ячейки */
            top: 0; bottom: 0; /* По высоте ячейки */
            color: #fff; /* Цвет ссылок */
            padding: 5px; /* Поля вокруг текста */
            overflow: auto;
        }
        .form {
            margin: auto;
            width: auto;
            overflow: hidden;
            input {
                text-align: -webkit-center;
            }
        }
        .picture {
            width: 30px;
        }
    }
}

