// show/hide burger menu
@media (max-width : 768px) {
    body.lock {
        overflow: hidden;
    }
    .contact {
        display: none;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__contact {
        display: flex;
        flex: 0 0 40px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 3;

    }
    .header__contact img {
        width: 100%;
        height: auto;
        display: block; // Убрать обрезание картинки
    }
    .header__burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative; //Положение элемента устанавливается относительно его исходного места.
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -100%; // начальное положение
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: white;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
    }
    .header__link {
        font-size: 24px;
    }

    .main {
        margin-top: 60px;
    }
}

/*
// only screen
@media only screen and (min-width: 1200px) {
    .main__content {
        .card {
            flex: 0 0 20%;
            background-color: red;
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main__content {
        .card {
            flex: 0 0 25%;
            background-color: red;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main__content {
        .card {
            flex: 0 0 33.33%;
            background-color: red;
        }
    }
}
@media only screen and (max-width: 767px) {
    .main__content {
        .card {
            flex: 0 0 50%;
            background-color: red;
        }
    }
}
@media only screen and (max-width: 480px) {
    .main__content {
        .card {
            flex: 0 0 100%;
            background-color: red;
        }
    }
}
*/

// iPads (Ландшафтный)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .main__content {
        .card {
            flex: 0 0 25%;
            &:before{
                content: 'ipads l';
            }
            background-color: #000057;
        }
    }
}

// iPads (Портретный)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .main__content {
        .card {
            flex: 0 0 33.3333%;
            &:before{
                content: 'ipads p';
            }
            background-color: #000057;
        }
    }
}

// smartphone (Портретный)
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : portrait) {
    .main__content {
        .card {
            flex: 0 0 33.3333%;
            background-color: #e7e405;
        }
    }
}

// smartphone (Ландшафтный)
@media only screen and (min-device-width : 480px) and (max-device-width : 767px) and (orientation : landscape) {
    .main__content {
        .card {
            flex: 0 0 25%;
            background-color: #e7e405;
        }
    }
}



