.main__products {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;

    .product__image {
        flex: 0 0 15%;
        .image {
            width: 100%;
        }
    }

    .product__info {
        .title {
            color: #25282a;
        }
        .vendor {
            color: #53585a;
        }
        .link {
            display: block;
            text-decoration: none;
            color: #53585a;
        }
    }

    .product__table {
        flex: 100%;
        .table {
            min-width: 80%;
            th {
                font-weight: normal;
                color: #039;
                padding: 10px 15px;
            }
            .col1 {
                width: 15%;
            }
            td {
                color: #669;
                border-top: 1px solid #e8edff;
                padding: 10px 5px;
                text-align: center;
                width: 10%;
                form {
                    .input {
                        width: 10%;
                    }
                }
            }
            tr:nth-child(2n) {background: #e8edff;}
            .add {
                a {
                    text-decoration: none;
                }

                text-align: center;
            }
        }

    }
}
