$border_line: 1px solid #C0C0C0;
/*Обнуление*/ *,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Основные стили */

.container {
    max-width: 1200px; // Контейнер ограничен по ширине
    margin: 0 auto;
    padding: 0px 10px;
}

.header-top {
    position: fixed; // при скроле шапка всега сверху
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; // Большой z-index чтобы накрыть весь контент
}

.header-top:before { // - создает псевдоэлемент, который являеться первым потомком выбраного ел. (Исп. для добавления косметического содержимого в элемент с помощью content
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: $border_line;
    border-bottom: $border_line;
    z-index: 2;
}

.header__body {
    position: relative; // вытащить на верх контентную часть шапки
    display: flex;
    justify-content: space-between; // раскидать flex-елементы по сторонам
    height: 80px; // ограничить по высоте
    align-items: center; // выставить по центру
}

.header__logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header__contact {
    display: none;

}
.header__logo img {
    max-width: 100%;
    display: block; // Убрать обрезание картинки
}
.header__burger{
    display: none;
}
.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    &:hover {
        text-shadow: 0 1px rgba(0,0,0,0.25);
    }
}

.main {
    margin-top: 20px;
}

.main__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card {
        margin: 1%;
        padding-bottom: 1%;
        box-shadow: 0 8px 14px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
        &:hover {
            &:before {
                background-color: #185372;
                opacity: 0.5;
            }
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        position: relative;
        flex: 0 0 250px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: $border_line;
        border-radius: 5px;

        .form_action {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .form {
                width: 45%;
                .btn {
                    border: $border_line;
                    border-radius: 5px;
                    padding: 5px;
                    width: 100%;
                    &:hover {
                        box-shadow: inset 1px 0px 1px 1px rgba(18,53,72,0.5), inset -1px -1px 1px 1px rgba(18,53,72,0.5);
                    }
                }
                .btn-edit {

                }
                .btn-delete {

                }
            }
        }

        &:before {
            position: absolute;
            content: '';
            background-color: grey;
            width: 100%;
            height: 40%;
            opacity: 0.5;
            z-index: 1;
        }

        .title {
            color: grey;
        }

        .picture {
            position: relative;

            width: 100%;
            opacity: 0.9;

            z-index: 2;
            &:hover {
                opacity: 1;
            }
        }

        .vendor {
            color: #a5c9d9;
            text-align: center;

        }
    }
}

// burger menu
@media (max-width: 767px) {

    body.lock {
        overflow: hidden;
    }
    .contact {
        display: none;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__contact {
        display: flex;
        flex: 0 0 150px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;
        z-index: 3;


        a {
            text-decoration: none;
        }
        .phone {
            &:before {
                content: '\2706';
                font-size: 30px;
            }
        }
        .email {
            &:before {
                content: '\2709';
                font-size: 30px;
            }
        }
    }
    .header__burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative; //Положение элемента устанавливается относительно его исходного места.
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: -100%; // начальное положение
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: white;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
    }
    .header__link {
        font-size: 24px;
    }

    .main {
        margin-top: 60px;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    opacity: 0.7;
    background-color: grey;
    width: 100%;
    height: 40px;
    color: white;
    font-family: Snell Roundhand, cursive;
    z-index: 5;

    span {
        margin-right: 10px;
        float: right;
        &:before {
            content: '\272A';
        }
    }
}
