@charset "UTF-8";
/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

/* Основные стили */
.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto; }

.header-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }

.header-top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  z-index: 2; }

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  margin: 0 10px; }

.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3; }

.header__contact {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: none; }

.header__logo img {
  max-width: 100%;
  display: block; }

.header__burger {
  display: none; }

.header__list {
  display: flex;
  position: relative;
  z-index: 2; }

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px; }

.header__link {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none; }
  .header__link:hover {
    text-shadow: 0 1px rgba(0, 0, 0, 0.25); }

.contact {
  border-bottom: 1px solid #C0C0C0;
  margin-top: 80px;
  padding: 0; }

.contact__body {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0 10px; }
  .contact__body .contact__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .contact__body .contact__left .mail {
      display: inherit;
      align-items: center;
      border-right: 1px solid #C0C0C0;
      padding-right: 20px; }
      .contact__body .contact__left .mail:before {
        content: "mail: "; }
    .contact__body .contact__left .phone {
      display: inherit;
      align-items: center;
      border-right: 1px solid #C0C0C0;
      padding: 0 50px; }
      .contact__body .contact__left .phone:before {
        content: 'tel: '; }
      .contact__body .contact__left .phone a {
        text-decoration: none;
        color: black; }
  .contact__body .login__right {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contact__body .login__right .login {
      display: inherit;
      align-items: center;
      border-left: 1px solid #C0C0C0;
      padding: 0 20px; }
      .contact__body .login__right .login:before {
        content: "\272A"; }
      .contact__body .login__right .login a {
        color: black;
        text-decoration: none;
        margin-left: 10px; }

@media (max-width: 767px) {
  .contact {
    margin-top: 50px; }

  .contact__body .contact__left .login {
    border-right: none; }
  .contact__body .contact__left .mail {
    border-right: none; }
  .contact__body .contact__left .phone {
    border-right: none; } }
.main {
  width: 100%;
  margin-top: 10px; }

.navigate {
  margin: 0 10px;
  color: #888888; }
  .navigate .link {
    font-size: small;
    color: #888888;
    text-decoration: none; }
    .navigate .link:hover {
      color: black; }
    .navigate .link:active {
      color: #000041; }
  .navigate .line {
    border: none;
    height: 1px;
    margin-bottom: 5px;
    background-color: #C0C0C0; }

.main__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .main__content .card.disabled {
    background-color: rgba(205, 205, 205, 0.62); }
  .main__content .card {
    overflow: hidden;
    padding: 5px;
    position: relative;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C0C0C0; }
    .main__content .card .link.disabled {
      pointer-events: none;
      /* делаем ссылку некликабельной */
      cursor: default;
      /* устанавливаем курсор в виде стрелки */ }
      .main__content .card .link.disabled .picture {
        opacity: 0.5; }
    .main__content .card:hover {
      background-color: rgba(225, 224, 255, 0.5); }
    .main__content .card .link {
      text-decoration: none; }
    .main__content .card .title {
      top: 0;
      text-align: center;
      font-size: 1.2em;
      color: #888888; }
    .main__content .card .picture {
      position: relative;
      width: 100%;
      height: auto;
      opacity: 0.9;
      z-index: 2; }
      .main__content .card .picture:hover {
        opacity: 1; }
    .main__content .card .vendor {
      color: #a5c9d9;
      text-align: center; }
    .main__content .card .form_action {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      .main__content .card .form_action .form {
        width: 45%; }
        .main__content .card .form_action .form .btn {
          border: 1px solid #C0C0C0;
          border-radius: 5px;
          padding: 5px;
          width: 100%; }
          .main__content .card .form_action .form .btn:hover {
            box-shadow: inset 1px 0px 1px 1px rgba(18, 53, 72, 0.5), inset -1px -1px 1px 1px rgba(18, 53, 72, 0.5); }

.main__products {
  padding: 10px; }
  .main__products .title__block {
    margin-bottom: 30px; }
    .main__products .title__block h3 {
      color: #2d2929; }
    .main__products .title__block h4 {
      color: #2d2d2b; }
  .main__products .image__block {
    position: relative;
    border: 1px solid white;
    font-family: "Poplar Kozel", serif;
    font-size: 14em;
    height: 1em;
    width: 1.6em; }
    .main__products .image__block .image {
      position: absolute;
      z-index: 2;
      height: 1em;
      left: 0.6em; }
    .main__products .image__block .image__vendor {
      margin-top: 0.3em;
      width: 1.6em;
      height: 0.4em;
      background: linear-gradient(to left, #ffffff, #6794c3);
      padding-left: 0.03em; }
      .main__products .image__block .image__vendor .h3 {
        font-size: 0.4em;
        color: white; }
  .main__products .chart__block {
    display: none;
    border: 1px solid green;
    border-radius: 5px;
    height: 200px;
    margin-left: auto;
    margin-right: 0em; }
    .main__products .chart__block .picture_drawing {
      width: 100px;
      height: 100px; }
      .main__products .chart__block .picture_drawing .drawing {
        width: 200px; }
  .main__products .table {
    width: 100%;
    table-layout: fixed;
    font-size: 1.2em; }
    .main__products .table th {
      font-weight: normal;
      color: #039;
      padding: 5px 7px; }
    .main__products .table td {
      color: #669;
      border-top: 1px solid #e8edff;
      padding: 5px 7px;
      position: relative;
      text-align: center; }
    .main__products .table tr:nth-child(2n) {
      background: #e8edff; }
    .main__products .table tr:hover {
      background-color: #bdccff; }
    .main__products .table td a {
      position: absolute;
      /* Абсолютное позиционирование */
      left: 0;
      right: 0;
      /* По ширине ячейки */
      top: 0;
      bottom: 0;
      /* По высоте ячейки */
      color: #fff;
      /* Цвет ссылок */
      padding: 5px;
      /* Поля вокруг текста */
      overflow: auto; }
    .main__products .table .form {
      margin: auto;
      width: auto;
      overflow: hidden; }
      .main__products .table .form input {
        text-align: -webkit-center; }
    .main__products .table .picture {
      width: 30px; }

.category__create {
  display: flex;
  justify-content: center; }
  .category__create h1 {
    margin-top: 20px;
    color: #5a5a5a; }
  .category__create .form-group {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem; }
  .category__create .form-group-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .category__create .form-control {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 5px; }
  .category__create .form-group-double-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem; }
  .category__create .form-group-double {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5rem; }
  .category__create .form-control-double {
    text-align: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    padding: 5px;
    margin: 0 10px; }
  .category__create .input-file {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 5px; }
  .category__create .btn {
    margin-top: 1.5rem;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 300px;
    height: 30px; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-header {
  color: dimgrey; }

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px; }

.form-group {
  align-items: center; }

.form-control {
  border: 1px solid grey;
  height: 30px;
  width: 100%; }

.btn-primary {
  margin-top: 5px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 5px; }

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  /* Фиксированное положение */
  left: 0;
  bottom: 0;
  /* Левый нижний угол */
  opacity: 0.7;
  background-color: grey;
  width: 100%;
  height: 40px;
  color: white;
  font-family: Snell Roundhand, cursive;
  z-index: 5; }
  .footer span {
    margin-right: 10px;
    float: right; }
    .footer span:before {
      content: '\272A'; }

@media (max-width: 768px) {
  body.lock {
    overflow: hidden; }

  .contact {
    display: none; }

  .header__body {
    height: 50px; }

  .header__logo {
    flex: 0 0 40px; }

  .header__contact {
    display: flex;
    flex: 0 0 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3; }

  .header__contact img {
    width: 100%;
    height: auto;
    display: block; }

  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3; }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s; }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; }

  .header__burger:before {
    top: 0; }

  .header__burger:after {
    bottom: 0; }

  .header__burger.active span {
    transform: scale(0); }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px; }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px; }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: white;
    padding: 70px 10px 20px 10px; }

  .header__menu.active {
    top: 0; }

  .header__list {
    display: block; }

  .header__list li {
    margin: 0px 0px 20px 0px; }

  .header__link {
    font-size: 24px; }

  .main {
    margin-top: 60px; } }
@media only screen and (min-width: 1200px) {
  .main__content .card {
    flex: 0 0 20%; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main__content .card {
    flex: 0 0 25%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__content .card {
    flex: 0 0 33.33%; } }
@media only screen and (max-width: 767px) {
  .main__content .card {
    flex: 0 0 50%; } }
@media only screen and (max-width: 480px) {
  .main__content .card {
    flex: 0 0 100%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .main__content .card {
    flex: 0 0 25%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .main__content .card {
    flex: 0 0 33.3333%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .main__content .card {
    flex: 0 0 50%; } }
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) and (orientation: landscape) {
  .main__content .card {
    flex: 0 0 25%; } }
.is-invalid {
  border: 1px solid red; }

.invalid-feedback {
  color: red;
  font-family: "Candara Light", serif; }
